.not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    color: #fff;
}

.not-found .number{
    font-size: 7rem;
    color: #FF424F;
}

.not-found .number span{
    color: #fff;
}

.not-found p.text{
    margin: 1rem 0;
}

.not-found a{
    color: #FF424F;
    -webkit-animation: example 2s linear infinite;
    animation: example 2s linear infinite;
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: 20px;
}

  
  @-webkit-keyframes example {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes example {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.08);
    }
    100% {
      transform: scale(1);
    }
  }